.agenda-block {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  height: 2em;
  position: relative;
  width: 100%;
} 

.agenda-label {
  color: gray;
  background-color: #f5f5f5;
  padding: .5em;
  font-size: 10px;
  text-transform: lowercase;
  position: absolute;
  top: -1.3em;
  left: .75em;
}

.interactive-panel {
  max-height: 80vh;
  overflow: scroll;
}

.ghost-block {
  border: none
}

.agenda-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.agenda-item-container {
  position: relative;
  height: 100%;
  padding-left: 3em;
}

.drag-handle {
  height: 5px;
  width: 100%;
  background-color: black;
  position: absolute;
  cursor: s-resize;
  bottom: 0;
  left: 0;
}

#agenda-container {
  position: relative;
}
